.container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    width: 30rem;

    background-color: rgb(51, 65, 85);
    border-radius: 1rem;
    color: whitesmoke
}

input {
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 8px;
}

.SquarePayments {
    width: 30rem;
    margin: 0 37.5%;
}

button {
    color: white;
}

.recentDonations {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
    padding-right: 3rem;
}

.recentDonations h3 {
    font-size: 3rem;
}

.donor {
    font-size: 1.5rem;
    padding: 2rem 25%;
}

.CreditCard-submit {
    display: none;
}

.donateButton {
    margin-top: -2px;
    padding: 1rem 2rem;
    width: 30rem;
    background-color: blue;
    border-radius: 8px;
}

@media only screen and (max-width: 500px) {
    .input-container, .SquarePayments, .donateButton {
        width: 90%
    }
}