@tailwind base;
@tailwind components;
@tailwind utilities;

ul li a {
  color: white;
}
 
ul li a:hover {
  color: #00a8ff;
}
 
ul li a.active {
  color: #00a8ff;
} 

body {
  background-color: rgb(249, 249, 249)
}